.Scard {
  background-color: rgba(255, 255, 255, 0.187) !important;
  color: white;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 15px;
}

.Scard:hover {
  transform: translateY(-5px);
}
.justify {
  text-align: justify;
}
