body {
  background-color: #0d2439 !important;
  color: white !important;
  padding: 15px 80px;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none !important;
}

/* For screens up to 768px wide (tablets and phones) */
@media (max-width: 768px) {
  body {
    padding: 15px 25px;
  }
}

/* For extra small devices (phones) */
@media (max-width: 480px) {
  body {
    padding: 10px 20px;
  }
}
